{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
  {% if g.user and role == 'employee' %}
    <a class="action" href="{{ url_for('ts.create') }}">New</a>
  {% endif %}

{% endblock %}

{% block content %}
  
  <form method="post" action="{{ url_for('ts.filter') }}">
    <div class="container">
      {% if role == 'employer' %}
        <div class="child">
          <select name="employee" id="employee">
              <option value=-1>All</option>
            {% for e in employees %}
                <option value={{e['id']}} {{ 'selected' if eid | int == e['id'] | int }}>{{e['username']}}</option>
            {% endfor %}
          </select>
        </div>
      {% endif %}
      
      <div class="child">
        <select name="month" id="month">
          {% for month in months %}
            <option value={{ loop.index }} {{ 'selected' if m | int == loop.index }}>{{ month }}</option>
          {% endfor %}    
        </select>
      </div>

      <div class="child">
        <select name="year" id="year">
          {% for year in years %}
              <option value={{ year }} {{ 'selected' if y | int == year | int }}>{{ year }}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="child">  
        <input type="submit" value="Filter" />
      </div>
        
  </div>
  </form>
</div>
  <hr>
  {% for ts in tse %}
    {% set status = 'declined' if ts['status'] == 2%}
    <article class="ts">
      <header>
        <div>
          <h1>
            {{ ts['date']  }} - {{ ts['hours']}} hours of {{ ts['type']}} 
            {% if role == 'employer' and eid == "-1" %}({{ ts['username']  }}) {% endif %}
            {% if ts['status'] == 0 %} 
              <i class="fa fa-question-circle" style="font-size:36px"></i>
            {% endif %}
            {% if ts['status'] == 1 %} 
              <i class="fa fa-check" style="font-size:36px;color:green"></i>
            {% endif %}
            {% if ts['status'] == 2 %} 
              <i class="fa fa-ban" style="font-size:36px;color:red"></i>
            {% endif %}
            {% if role == 'employee' and ts['status'] == 0 %}
              <a class="action" href="{{ url_for('ts.update', id=ts['id']) }}">Edit</a>
            {% endif %}
          </h1>
        </div>
        
      </header>
      
      <p class="body">{{ ts['content'] }}</p>
      {% if role == 'employee' and ts['status'] == 0  %}
        <div class="container">
          <div class="child" >
            <form action="{{ url_for('ts.delete', id=ts['id']) }}" method="post">
              <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
          </div>
        </div>  
      {% endif %}
      {% if role == 'employer'  and ts['status'] == 0 %}
      <div class="container">
          <div class="child">
          <form action="{{ url_for('ts.accept', id=ts['id']) }}" method="post">
            <input type="submit" value="Accept" ">
          </form>
        </div>
        <div class="child">
          <form action="{{ url_for('ts.decline', id=ts['id']) }}" method="post">
            <input type="submit" value="Decline" ">
          </form>
        </div>
      </div>  
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}