{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
  {% if g.user and role == 'employee' %}
    <a class="action" href="{{ url_for('ts.create') }}">New</a>
  {% endif %}

{% endblock %}

{% block content %}
  
  <form method="post" action="{{ url_for('ts.filter') }}">
    <div class="container">
      {% if role == 'employer' %}
        <div class="child">
          <select name="employee" id="employee">
              <option value=-1>All</option>
            {% for e in employees %}
                <option value={{e['id']}} {{ 'selected' if eid | int == e['id'] | int }}>{{e['username']}}</option>
            {% endfor %}
          </select>
        </div>
      {% endif %}
      
      <div class="child">
        <select name="month" id="month">
          <option value="01" {{'selected' if "01" == m}}>January</option>
          <option value="02" {{'selected' if "02" == m}}>February</option>
          <option value="03" {{'selected' if "03" == m}}>March</option>
          <option value="04" {{'selected' if "04" == m}}>April</option>
          <option value="05" {{'selected' if "05" == m}}>May</option>
          <option value="06" {{'selected' if "06" == m}}>June</option>
          <option value="07" {{'selected' if "07" == m}}>July</option>
          <option value="08" {{'selected' if "08" == m}}>Aug</option>
          <option value="09" {{'selected' if "09" == m}}>September</option>
          <option value="10" {{'selected' if "10" == m}}>October</option>
          <option value="11" {{'selected' if "11" == m}}>November</option>
          <option value="12" {{'selected' if "12" == m}}>December</option>
        </select>
    </div>
    <div class="child">
      <select name="year" id="year">
        <option value="2023" {{'selected' if "2023" == y}}>2023</option>
        <option value="2024" {{'selected' if "2024" == y}}>2024</option>
      </select>
    </div>
    <div class="child">  
      <input type="submit" value="Filter">
    </div>  
  </div>
  </form>
</div>
  <hr>
  {% for ts in tse %}
    {% set status = 'declined' if ts['status'] == 2%}
    <article class="ts">
      <header>
        <div>
          <h1 class="{{status}}">
            {{ ts['date']  }} - {{ ts['hours']}} hours of {{ ts['type']}} 
            {% if role == 'employer' and eid == "-1" %}({{ ts['username']  }}) {% endif %}
            {% if ts['status'] == 0 %} - Pending {% endif %}
            {% if ts['status'] == 1 %} - Accepted {% endif %}
            {% if ts['status'] == 2 %} - Declined {% endif %}
            {% if role == 'employee' and ts['status'] == 0 %}
              <a class="action" href="{{ url_for('ts.update', id=ts['id']) }}">Edit</a>
            {% endif %}
          </h1>
        </div>
        
      </header>
      
      <p class="body">{{ ts['content'] }}</p>
      {% if role == 'employee' and ts['status'] == 0  %}
        <div class="container">
          <div class="child" >
            <form action="{{ url_for('ts.delete', id=ts['id']) }}" method="post">
              <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
          </div>
        </div>  
      {% endif %}
      {% if role == 'employer'  and ts['status'] == 0 %}
      <div class="container">
          <div class="child">
          <form action="{{ url_for('ts.accept', id=ts['id']) }}" method="post">
            <input type="submit" value="Accept" ">
          </form>
        </div>
        <div class="child">
          <form action="{{ url_for('ts.decline', id=ts['id']) }}" method="post">
            <input type="submit" value="Decline" ">
          </form>
        </div>
      </div>  
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}